.button {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: var(--c-item-text);
  background-color: var(--c-item-background);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;
  /* display: inline-block; */

  text-decoration: none;

  margin-bottom: var(--space-m);
  display: block;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: left;
  align-items: center;
}

.button img,
.button svg {
  width: var(--text-l);
  margin-right: var(--space-l);
}

.button:hover {
  background-color: var(--c-item-hover);
}

.button:active,
.active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.error {
  background-color: var(--c-error);
  color: var(--c-text-color);
}

.outlined {
  border: var(--fieldBorderWidth) solid var(--c-item-background);
  background-color: transparent;
  color: var(--c-item-background);
}

.outlined:hover {
  background-color: var(--c-item-hover);
  color: var(--c-item-text);
  border: var(--fieldBorderWidth) solid var(--c-item-hover);
}

.outlined:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
  border: var(--fieldBorderWidth) solid var(--c-active-item-background);
}

.acrylic {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;

  backdrop-filter: blur(var(--blur));
}

.acrylic:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nospacing {
  margin: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  /* visibility: hidden; */
}
