.card {
  color: var(--c-item-text);
  border-radius: var(--radius);
  background-color: var(--c-item-background);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);
  position: relative;
}

.active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.event {
  cursor: pointer;
}


.event:hover {
  background-color: var(--c-item-hover);
}

.event:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.clickable {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.clickable:hover .card {
  color: var(--c-item-text);
  background-color: var(--c-item-hover);
}

.title {
  font-size: var(--text-l);
  font-weight: bold;
  margin-bottom: var(--space-l);
}

.acrylic {
  color: #fff;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);

  backdrop-filter: blur(var(--blur));
}

.card p {
  margin-bottom: 0;
}
