.card {
  color: var(--c-item-text);
  border-radius: var(--radius);
  background-color: var(--c-item-background);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);
}

.active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.clickable {
  cursor: pointer;
  text-decoration: none;
}

.clickable:hover .card {
  background-color: var(--c-item-hover);
}

.card:hover {
  color: var(--c-item-text);
  background-color: var(--c-item-hover);
}

.title {
  font-size: var(--text-l);
  font-weight: bold;
  margin-bottom: var(--space-l);
}
