@import url("./base.css");

.width-spaced {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.we-header {
  background-color: var(--c-header-background);
  top: 0;
  width: 100%;

  padding: var(--space-xl);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.we-text-input {
  border: none;
  border-radius: var(--radius);
  width: 100%;

  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);

  color: var(--c-text-dark-color);
  background-color: var(--c-item-background);
}

.we-text-input::placeholder {
  color: var(--c-text-dark-color);
}

.we-button {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: var(--c-item-text);
  background-color: var(--c-item-background);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;
}

.we-button:hover {
  background-color: var(--c-item-hover);
}

.we-button:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.we-button-outlined {
  border: var(--fieldBorderWidth) solid var(--c-item-background);
  background-color: transparent;
  color: var(--c-item-background);
}

.we-button-outlined:hover {
  background-color: var(--c-item-hover);
  color: var(--c-item-text);
  border: var(--fieldBorderWidth) solid var(--c-item-hover);
}

.we-button-outlined:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
  border: var(--fieldBorderWidth) solid var(--c-active-item-background);
}

.we-floating-footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: var(--space-l);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  background-color: var(--c-header-background);

  display: flex;
  justify-content: space-between;
}

.we-card {
  color: var(--c-item-text);
  border-radius: var(--radius);
  background-color: var(--c-item-background);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);
}

.we-card .card-title {
  font-size: var(--text-l);
  font-weight: bold;
  margin-bottom: var(--space-l);
}

.we-card-active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.we-card-clickable {
  cursor: pointer;
  text-decoration: none;
}

.we-card-clickable:hover .we-card {
  background-color: var(--c-item-hover);
}

.we-section-header {
  background-color: var(--c-header-background);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);

  padding: var(--space-xl);
}

.we-acrylic-button {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;

  backdrop-filter: blur(var(--blur));
}

.we-acrylic-card {
  color: #fff;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);

  backdrop-filter: blur(var(--blur));
}
