@import url("./base.css");

.we-text-input {
  border: none;
  border-radius: var(--radius);
  width: 100%;

  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);

  color: var(--c-text-dark-color);
  background-color: var(--c-item-background);
}

.we-text-input::placeholder {
  color: var(--c-text-dark-color);
}

.we-option-btn {
  border: none;
  border-radius: var(--radius);
  width: 100%;
  margin-bottom: 10px;

  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);

  color: var(--c-text-dark-color);
  background-color: var(--c-item-background);
}

.we-option-btn.active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.we-list,
.we-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.we-button {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: var(--c-item-text);
  background-color: var(--c-item-background);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;
}

.we-button:hover {
  background-color: var(--c-item-hover);
}

.we-button:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.we-button-outlined {
  border: var(--fieldBorderWidth) solid var(--c-item-background);
  background-color: transparent;
  color: var(--c-item-background);
}

.we-button-outlined:hover {
  background-color: var(--c-item-hover);
  color: var(--c-item-text);
  border: var(--fieldBorderWidth) solid var(--c-item-hover);
}

.we-button-outlined:active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
  border: var(--fieldBorderWidth) solid var(--c-active-item-background);
}

.we-floating-footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: var(--space-l);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  background-color: var(--c-header-background);

  display: flex;
  justify-content: space-between;
}

.we-acrylic-button {
  border: none;
  border-radius: var(--radius);

  padding: var(--textFrameY) var(--textFrameX);

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: var(--text-m);
  cursor: pointer;

  font-weight: bold;

  backdrop-filter: blur(var(--blur));
}

.we-acrylic-card {
  color: #fff;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--space-xl);
  margin-bottom: var(--space-l);

  backdrop-filter: blur(var(--blur));
}
