@import url("./base.css");

.we-option-btn {
  border: none;
  border-radius: var(--radius);
  width: 100%;
  margin-bottom: 10px;

  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);

  color: var(--c-text-dark-color);
  background-color: var(--c-item-background);
}

.we-option-btn.active {
  background-color: var(--c-active-item-background);
  color: var(--c-active-item-text);
}

.we-list,
.we-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.we-floating-footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: var(--space-l);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  background-color: var(--c-header-background);

  display: flex;
  justify-content: space-between;
}
