

.list-view {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: var(--text-m);
    background-color: green;
    z-index: 9999;
    cursor: pointer;
  }

  
  .drawer {
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    z-index: 9999999;
    transform: translate(100%);
    transition: all .2s;
  }

  .drawer.opened {

    transform: translate(0%);
  }

  .relative {
    position: relative;
  }

/* 
body {
    overflow: hidden;
} */

.map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.place {
    text-align: left;
    font-size: 12px !important;
}

.here {
    padding: var(--space-m) var(--space-l);
    background-color: rgba(0,0,0,.5);
    color: var(--c-text-color);
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transform: translateY(-10px);
}
.here::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    width: 20px;
    height: 10px;
    left: 50%;
    transform: translate(-50%, 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.rank {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    transform: translate(30%, -30%);
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.link {
    color: var(--c-text-color);
}

.gold span {
    background-color: var(--c-gold);
    z-index: 9999999;
}

.silver span {
    background-color: var(--c-silver);
    color: var(--c-text-dark-color);
    z-index: 9999998;
}

.bronze span {
    background-color: var(--c-bronze);
    /* z-index: 97; */
    z-index: 9999997;
}

.gold  {
    z-index: 9999999;
}

.silver {
    z-index: 9999998;
}

.bronze {
    z-index: 9999997;
}
